@import "../../../styles/colours.scss";
@import "../../../styles/extends.scss";

.MapEditorMenu {
  position: absolute;
  left: 84px;
  top: 0;
  background-color: $yellow;
  border-radius: 0px 0px 10px 0px;
  border: 1px solid $dark-green;
  opacity: 0.7;
  min-height: 85px;
  height: fit-content;
  @extend %unselectable;
}

.MapEditorMenuItem {
  margin: 5px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1px $dark-green solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.MapEditorMenuItem:last-child() {
  border-bottom: none;
}

.MapEditorMenuItem > p {
  margin: 0;
  color: $dark-green;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.DisabledMenuItem {
  cursor: not-allowed;
}

.MapPickerMenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DisabledMenuItem > p {
  color: #838383;
}

.FilePickerButton {
  color: $yellow;
  background-color: $dark-green;
  width: 40%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.4rem;
  margin: 1rem;

  text-align: center;
  cursor: pointer;
}

.FilePickerInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.FilePickerInput + label {
  font-size: 1.25em;
  font-weight: 700;
  color: $dark-green;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.FilePickerInput:focus + label,
.FilePickerInput + label:hover {
  color: $dark-green-hover;
}

.FilePickerInput:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.FilePickerInput + label {
  cursor: pointer; /* "hand" cursor */
}
