@import "../../../styles/colours.scss";
@import "../../../styles/extends.scss";

.Sidebar {
  width: 5em;
  @extend %unselectable;
}

.SidebarItem {
  color: $yellow;
  text-align: center;
  cursor: pointer;
  padding: 5px 0px;
}

.SidebarItem:hover {
  background-color: $dark-green-hover;
}

.SidebarTitle {
  margin: 5px 0px 10px;
}
.SidebarTitle > p {
  margin: 0;
}

.SidebarBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}
