@import "../../styles/colours.scss";
@import "../../styles/extends.scss";

.Menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $yellow;
  border-radius: 0px 0px 0px 10px;
  border: 1px solid $dark-green;
  opacity: 0.7;
  cursor: pointer;
  height: 85px;
  @extend %unselectable;
}

.Menu > img {
  margin: 10px 10px 5px 10px;
}

.MenuOpened {
  border-radius: 0px;
}
