@import "../../../../styles/colours.scss";
@import "../../../../styles/extends.scss";

.Menu {
  height: calc(100vh - 330px);
  width: 100%;
  color: $yellow;
  overflow: auto;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.Layer {
  display: flex;
  text-align: center;
  padding: 1rem 0.3rem;
  cursor: pointer;

  border-bottom: 2px solid $yellow;
}

.Layer:first-child {
  border-top: 2px solid $yellow;
}

.Layer:hover {
  background-color: $dark-green-hover;
}

.Layer > img {
  width: 3rem;
  margin-right: 0.5rem;
}

.Layer > p {
  font-weight: bold;
}
