@import "../../styles/colours.scss";

.MapGridView {
  width: calc(100vw - 12em);
  height: 100vh;
  position: fixed;
  margin-left: 12em;
  display: inline-grid;
  vertical-align: top;

  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.MapSlideView {
  width: calc(100vw - 12em);
  height: 100vh;
  position: fixed;
  margin-left: 12em;
}

.invisible {
  display: none;
}

/* this will select the last item and move it to second row*/
:not(.invisible) + :not(.invisible) + :not(.invisible) + :not(.invisible) {
  grid-row: 2;
}

/* this will make sure the blue remain in the first row*/
:first-child:not(.invisible) + :not(.invisible) {
  grid-column: 2;
}

.Square {
  position: absolute;
  z-index: 100;
}

.Slide {
  position: fixed;
  height: 100%;
  z-index: 100;
}

.SlideInfo {
  position: absolute;
  right: 0;
  top: 97px;
}

.ShapefileInfo {
  position: absolute;
  z-index: 100;
}
