@import "../../styles/colours.scss";

.MapsDiv {
  width: calc(100vw - 12em);
  height: 100vh;
  position: fixed;
  margin-left: 12em;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.Map {
  flex-grow: 1;
}

/* apply when there is 4 items */
.MapsDiv > :first-child:nth-last-child(4),
.MapsDiv > :first-child:nth-last-child(4) ~ * {
  flex-basis: 50%;
}
