$Light-gray: #e4e4e4;
$light-green: #69b578;
$dark-green: #1e744c;
$dark-green-hover: #4c886c;
$yellow: #d4cb92;
$yellow-hover: #ebe3b4;
$yellow-hover-dark: #cec37b;
$dark-red: #9c1616;
$dark-red-hover: #aa2727;
$light-blue: #42cafd;
