@import "../../styles/colours.scss";

.ContactData {
  margin: 20px auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  max-height: 500px;
  overflow: auto;
}

.FormTitle {
  color: $dark-green;
  font-size: 20px;
  margin: 0 10px 20px;
}

.ButtonDiv {
  margin: 0 10px;
}
