@import "../../../styles/colours.scss";

.InfoDiv {
  background-color: $yellow;

  border: 1px solid $dark-green;
  border-radius: 0 0 10px 0;
  opacity: 0.9;
}

.Slide {
  border-radius: 10px 0 0 10px;
}
