@import "../../../styles/colours.scss";

.InfoDiv {
  background-color: $yellow;

  border: 1px solid $dark-green;
  border-radius: 0 0 10px 0;
  opacity: 0.9;
}

.ColorType {
  display: flex;
  margin: 1rem;
}

.ColorTypeSquare {
  width: 2rem;
  height: 2rem;
}

.ColorType > p {
  margin: 0;
  margin-left: 1rem;
}
