@import "../../styles/colours.scss";

.Sidebar {
  margin: 0;
  padding: 0;
  width: fit-content;
  background-color: $dark-green;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1;
}
