@import "../../styles/colours.scss";

.Sidebar {
  margin: 0;
  padding: 0;
  width: 5em;
  background-color: $dark-green;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

.SidebarItem {
  color: $yellow;
  text-align: center;
  cursor: pointer;
}

.SidebarItem:hover {
  background-color: $dark-green;
}

.SidebarTitle {
  margin: 5px 0px 10px;
}
.SidebarTitle > p {
  margin: 0;
}

.SidebarBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}
