@import "../../../styles/colours.scss";

.InfoDiv {
  background-color: $yellow;

  border: 1px solid $dark-green;
  opacity: 0.9;

  display: flex;
  width: 15rem;
  justify-content: space-around;
  align-items: center;
}

.InfoDiv > p {
  margin: 0;
}

.Arrow {
  cursor: pointer;
  font-size: 1.5rem;
}
